
@charset "UTF-8";

/* Others Devices */

/* Typical device BreakPints

/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

 Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

 Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

/ Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

 Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}]
*/

@media print {

    img#phone{
        display: none;
    }
    img#print{
        display: block;
    }

    main{
        padding-top:10px;
        margin: auto;

        text-align: center;
        display: block;
    }

    main::after{

        content: 'Site criado pelo Fj para o Curso em Vídeo';
    }

    
}

@media screen and (min-width: 768px) and (max-width: 930px){ /* Tablets*/
    body{

        background-image: url(../imagens/back-tablet.jpg);

        
    }
    img#phone{
        display: none;
    }
    img#tablet{
        display: block;
    }
    
}

@media screen  and (min-width:930px) and (max-width:1200px){ /* Desktop*/
    body{

        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone{
        display: none;
    }
    img#pc{
        display: block;
    }
    
}

@media screen and (min-width:1200px) { /* Grandes Telas*/

    body{

        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone{
        display: none;
    }
    img#tv{
        display: block;
    }
    
}