@charset "UTF-8";

/*Configurações de retrato (portrait)*/

body{
    background: #233EFF url("../imagens/cev-portrait.jpg") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}