@charset "UTF-8";

/*Configurações gerais*/

*{

    padding:0px;
    margin:0px;
}

html, body{

    width:100vw;
    height:100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(29, 28, 28);
}

h1{

    color:rgb(247, 243, 240);
    text-align: justify;
    text-shadow: 3px 3px 0px  rgba(19, 48, 29, 0.76);
}